<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../assets/signup-style.css">  
</head>
<body>
    <!-- <p>Your new password should be different from passwords previously used</p> -->
    
    <form action="">
        <p>Set your new password</p>
        <div class="user-input">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"  required>
        </div>

        <div class="user-input">
            <label for="password">Confirm your new password:</label>
            <input type="password" id="confirmPassword" name="password"  required>
        </div> 

        <button type="submit">Confirm</button>
    </form>
</body>
</html>