<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Manager</title>
    <link rel="stylesheet" href="../assets/signup-style.css">  
    <script src="../signup-script.js" defer></script>
</head>
<body>
    <form id="signupForm">
        <p>Create your account</p>
        <div class="user-input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Full name" required>
        </div>
      
        <div class="user-input">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
      
        <div class="user-input">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div> 
      
      
        <!-- <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required> -->
      
        <button type="submit">Sign Up</button>
    </form>  
    <p>Already have an account? <a href="index.html">Login</a></p> 
      
</body>
</html>