<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="../assets/todo-styles.css">
</head>
<body>
    <form id="todoForm">
        <p>Create a task</p>
        <div class="user-input">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
        </div>
      
        <div class="user-input">
            <label for="description">Description:</label>
            <textarea id="description" rows="4" name="description"></textarea>
        </div>  
      
      
        <div class="user-input">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate">
        </div>
      
        <div class="user-input">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" name="endDate">
        </div>
      
        <label for="isBacklogged">Backlogged:</label>   
      
        <input type="checkbox" id="isBacklogged" name="isBacklogged">
      
        <button type="submit">Save</button>
    </form>
</body>
</html>