<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <link rel="stylesheet" href="../assets/signup-style.css">  
</head>
<body>
    <form id="verificationForm">
        <p for="verificationCode">Verification Code</p>
        <div class="user-input">
            <input type="number" id="verificationCode" name="verificationCode"   
                   required>
        </div>
      
        <button type="submit">Verify</button>   
      
      </form>
</body>
</html>